!!!
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    != body
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/main.js")